$layout-color:#EEEEEE;
$header-color: rgb(19, 50, 173);
$logo-color: rgb(245, 224, 66);
$shadow-box: 2px 4px 10px #888888;
$hover-link: #f8f9fa;
$follower-scroll: rgb(153, 153, 153);
$button-color: rgb(17, 65, 133);
$button-hover: rgb(11, 52, 110);