@import './colorVar';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Helvetica", "Sans-serif";
}

body {
  background-color: $layout-color;
  overflow: hidden;
}

.flex {
  display: flex;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.content-container {
  display: grid;
  grid-template-columns: 250px 6fr;
  overflow: hidden;
}

.main-content {
  overflow-y: scroll;
  height: 100vh;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

// vertical dots for comments and reply section
.vertical-dots:after {
  content: '\2807';
  font-size: 1.3rem;
  color: #888;
  cursor: pointer;
}

// form-layout
#form-layout-g {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .form-container-g {
    width: 600px;
    background-color: white;
    padding: 3rem;
    border-radius: 3px;
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: column;

    .form-details {
      & > div {
        margin-left: 1.5rem;
        
        & > div {
          &:nth-of-type(1) {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
          }
          
          &:nth-of-type(2) {
            font-size: 1.1rem;
          }
        }
      }
    }

    .remove-picture {
      align-self: flex-start;
      margin: 1rem 0;
    }
    
    img {
      border-radius: 50%;
    }

    h2 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    label {
      font-size: 0.9rem;
      margin: 1rem 0 0.3rem 0;
      display: block;
    }

    textarea {
      border: 1px solid #ced4da;
      resize: none;
      height: 100px;
      outline: 0;
      padding: 0.5rem;
      font-size: 0.9rem;
    }

    input:not([type=file]) {
      font-size: 0.8rem;
      height: 35px;
      padding: 0 10px;
      border: 1px solid #ced4da;
    }

    button {
      font-size: 0.8rem;
      cursor: pointer;
      background-color: $button-color;
      padding: 0.6rem;
      border-radius: 2px; 
      border: none;
      color:white;

      &:hover {
        background-color: $button-hover;
      }
    }

    .form-submit-g {
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
}

/* General popup form layout */
#popup-form-g {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup form (to delete and remove something) */
#popup-form-g {
  .popup-container-form-g {
    border-radius: 1px;
    background-color: #fff;
    width: 350px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    div:nth-of-type(1) {
      font-size: 0.9rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    div:nth-of-type(2) {
      font-size: 0.8rem;
    }

    .pop-up-buttons-form-g {
      margin-top: 2rem;
      align-self: flex-end;
    }

    .pop-up-buttons-form-g button {
      width: 90px;
      font-size: 0.7rem;
      cursor: pointer;
      background-color: rgb(17, 65, 133);
      padding: 0.7rem 0;
      border-radius: 2px; 
      border: none;
      color:white;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
}

/* Authentication Form General Layout */
#popup-form-g {
  .popup-auth-container-g {
    background-color: white; 
    padding: 20px; 
    border-radius: 4px; 
    width: 600px;
    display: flex;
    flex-direction: column;

    .auth-input-g {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .auth-inner-g {
        width: 350px;

        h2 {
          text-align: center;
          margin-bottom: 2rem;
        }

        input {
          width: 100%;
          height: 35px;
          padding: 0 10px;
          margin-top: 1rem;
          border: 1px solid #ced4da;
        }

        a {
          font-size: 0.9rem;
          color: rgb(17, 65, 133);
          margin-top: 1rem;
          text-decoration: none;
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }

        > span {
          display: block;
          color: rgb(17, 65, 133);
          cursor: pointer;
          text-align: center;
          margin: 1rem 0;

          &:hover {
            text-decoration: underline;
          }
        }

        button {
          width: 100%;
          font-size: 1rem;
          cursor: pointer;
          background-color: rgb(17, 65, 133);
          padding: 0.8rem 0;
          border-radius: 2px; 
          border: none;
          color:white;
          margin-top: 1rem;

          &:hover {
            background-color: rgb(11, 52, 110);
          }        
        }
      }
    }

    .close {
      align-self: flex-end;
      font-size: 40px;
      line-height: 20px;
      color: rgb(153, 148, 148);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: rgb(133, 129, 129);
      }
    }
  } 
}

// General layout for navigation popup
#navigation-popup {
  box-shadow: $shadow-box;
  border-radius: 1px;
  position: fixed;
  background: white;
  z-index: 50;
  top: 37px;
  right: 0;
  margin: 0.5rem;
} 

/* Posts General Layout */
.post-layout-g {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container-g {
  width: 650px;
  margin: 1rem 0px 5rem;
}

/* Pagination Layout */
.pagination-bar {
  margin-top: 2rem;

  a {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    width: 30px;
    margin-left: 3px;
    text-decoration: none;
    padding: 4px;
    color: black;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    cursor: pointer;
    
    &.page-active {
      color:white;
      background-color: rgb(11, 106, 176);
    }
  }
}

// Forum about
.forum-side-g {
  .forum-side-container-g {
    width: 350px;
    margin-top: 1rem;
    border: 1px solid#999;
    background-color: #fff;
    border-radius: 5px;

    > div:first-of-type {
      background-color: #999;
      padding: 1rem 0.8rem;
      font-size: 0.9rem;
      font-weight: 700;
      text-align: center;
    }

    .side-content-g {
      padding: 1rem;

      .side-about-g {
        font-size: 0.9rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #999;
      }

      .side-date-g {
        padding-top: 1rem;
        text-align: center;
      }

      .side-stats-g {
        padding: 1rem 0;   
        border-bottom: 1px solid #999;
        justify-content: space-around;
        text-align: center;

        > div {
          div:nth-of-type(1) {
            text-align: center;
            font-weight: 700;
            margin-bottom: 0.3rem;
          }

          div:nth-of-type(2) {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

// flash message
.flash-message {
  position: fixed;
  padding: 1rem;
  padding-right: 3rem;
  color: white;
  background: rgb(40, 40, 40);
  margin: 1rem; 
  bottom: 0;
  right: 0;
  border-radius: 2px;
  /* select: none will prevent popup from been highlighted by cursor */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  animation: fadeInOut 9s ease;
}

// error page default
#error_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;
    
    h1 {
      font-size: 10rem;
      color: rgb(77, 154, 209);
      font-weight: 300;
    }

    h2 {
      font-size: 3rem;
      margin: 1rem 0;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    button {
      margin-top: 1.5rem;
      font-size: 0.8rem;
      cursor: pointer;
      background-color: rgb(17, 65, 133);
      padding: 0.8rem;
      border-radius: 4px; 
      border: none;
      color:white;
    }
    
    button:hover {
      background-color: rgb(11, 52, 110);
    }
  }
}

.error-input {
  color: red;
  font-size: 0.7rem;
  margin: 0.3rem 0; 
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 1199px) {
  .forum-side-g {
    display: none;
  }
}

@media (max-width: 992px) {
  .content-container {
    grid-template-columns: 50px 6fr;
  }
  
}

@media (max-width: 768px) {
  #form-layout-g {
    .form-container-g {
      padding: 2rem;
      margin: 0 0.5rem;
    }
  }

  .post-layout-g {
    margin: 0 0.5rem;
  }
  
  .post-container-g {
    margin-bottom: 4rem;
  }

  .pagination-bar {
    margin-top: 1rem;
  }

  .popup-container-form-g {
    margin: 0 0.5rem;
  }

  .popup-auth-container-g {
    margin: 0 0.5rem;
  }
}


